<!-- Describe task in general -->

<p style="text-align: justify;">
    Вам задано {% if is_js %}масив чисел{% else %}список цілих чисел{% endif %}. Ваша функція повинна повернути кількість елементів, які не стоять на своїх місцях, як якщо б масив {% if is_js %}, список{% else %}та список{% endif %} були відсортовані за зростанням. Наприклад, для послідовності <b class="code">[1, 1, 4, 2, 1, 3]</b> результат буде <b class="code">3</b>, оскільки елементи з індексами 2, 4, 5 (пам'ятайте про індексацію на основі 0 в {% if is_js %}JavaScript{% else %}Python{% endif %}) знаходяться не на своїх місцях, як в тій же послідовності, відсортованій за зростанням - <b class="code">[1, 1, 1, 2, 3, 4]</b>.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> цілих чисел (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
   <strong>Вивести:</strong> Ціле число (<span>{% if is_js %}number{% else %}int{% endif %}</span>). 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
