<!-- Describe task in general -->

<p>
    Тобі дано {% if is_js %}масив{% else %}список{% endif %} цілих чисел. Твоя функція повинна повернути кількість елементів, які знаходяться не на своїх місцях, так як би {% if is_js %}масив{% else %}список{% endif %} був сортований по зростанню. Наприклад, для сукупності <b class="code">1, 1, 4, 2, 1, 3</b> результат буде <b class="code">3</b>, оскільки елементи з індексами 2, 4, 5 (пам'ятай про індексацію на основі 0 в Python) знаходяться не на своїх місцях там де вони були б в цій сукупності, сортованій за зростанням - <b class="code">1, 1, 1, 2, 3, 4</b>.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Ціле число. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
